In [1]:
import pandas as pd

In [2]:
forum_users = {
    'User ID': [1,2,3,4,5],
    'Username':['Jane','Smith','Alex','Bob','Mark'],
    'Age':[18,29,34,23,None],
    'Joined Date':['2032-01-01','2032-02-15','2032-04-25','2032-06-21','2032-09-15'],
    'Total Posts':[120,230,80,410,310],
    'Reputation':[500,700,300,250,500]
}

In [3]:
df = pd.DataFrame(forum_users)

In [4]:
df

   User ID Username   Age Joined Date  Total Posts  Reputation
0        1     Jane  18.0  2032-01-01          120         500
1        2    Smith  29.0  2032-02-15          230         700
2        3     Alex  34.0  2032-04-25           80         300
3        4      Bob  23.0  2032-06-21          410         250
4        5     Mark   NaN  2032-09-15          310         500

In [5]:
#shape is an attribute not method
#axis = 0 then row
#axis = 1 then columns
df.shape

(5, 6)

In [6]:
type(df)

pandas.core.frame.DataFrame

pandas -> package         
core -> sub package        
frame -> module

In [7]:
df.columns

Index(['User ID', 'Username', 'Age', 'Joined Date', 'Total Posts',
       'Reputation'],
      dtype='object')

In [8]:
df.dtypes

User ID          int64
Username        object
Age            float64
Joined Date     object
Total Posts      int64
Reputation       int64
dtype: object

In [9]:
df.values

array([[1, 'Jane', 18.0, '2032-01-01', 120, 500],
       [2, 'Smith', 29.0, '2032-02-15', 230, 700],
       [3, 'Alex', 34.0, '2032-04-25', 80, 300],
       [4, 'Bob', 23.0, '2032-06-21', 410, 250],
       [5, 'Mark', nan, '2032-09-15', 310, 500]], dtype=object)

In [10]:
type(df.values)

numpy.ndarray

In [11]:
df.values[1,1]

'Smith'

In [12]:
df.head(2)

   User ID Username   Age Joined Date  Total Posts  Reputation
0        1     Jane  18.0  2032-01-01          120         500
1        2    Smith  29.0  2032-02-15          230         700

In [13]:
df.tail(2)

   User ID Username   Age Joined Date  Total Posts  Reputation
3        4      Bob  23.0  2032-06-21          410         250
4        5     Mark   NaN  2032-09-15          310         500

In [14]:
df.columns.tolist()

['User ID', 'Username', 'Age', 'Joined Date', 'Total Posts', 'Reputation']

In [15]:
df.describe()

        User ID       Age  Total Posts  Reputation
count  5.000000   4.00000     5.000000    5.000000
mean   3.000000  26.00000   230.000000  450.000000
std    1.581139   6.97615   135.462172  180.277564
min    1.000000  18.00000    80.000000  250.000000
25%    2.000000  21.75000   120.000000  300.000000
50%    3.000000  26.00000   230.000000  500.000000
75%    4.000000  30.25000   310.000000  500.000000
max    5.000000  34.00000   410.000000  700.000000

In [16]:
type(df.describe())

pandas.core.frame.DataFrame

std -> standard diviation (How far values are distributed from the average value(mean))

In [17]:
df.isna().sum()

User ID        0
Username       0
Age            1
Joined Date    0
Total Posts    0
Reputation     0
dtype: int64

In [18]:
df.select_dtypes(include = 'object').columns

Index(['Username', 'Joined Date'], dtype='object')

In [19]:
df.select_dtypes(include = 'int64').columns

Index(['User ID', 'Total Posts', 'Reputation'], dtype='object')

In [20]:
df.select_dtypes(exclude = ['int64','object']).columns

Index(['Age'], dtype='object')

In [21]:
df['Username']

0     Jane
1    Smith
2     Alex
3      Bob
4     Mark
Name: Username, dtype: object

In [22]:
type(df['Username'])

pandas.core.series.Series

In [23]:
df['Username'].value_counts()

Username
Jane     1
Smith    1
Alex     1
Bob      1
Mark     1
Name: count, dtype: int64

In [26]:
df['Reputation'].value_counts(ascending = True)

Reputation
700    1
300    1
250    1
500    2
Name: count, dtype: int64

In [27]:
df['Reputation'].unique()

array([500, 700, 300, 250], dtype=int64)

In [28]:
df['Username'].sort_values()

2     Alex
3      Bob
0     Jane
4     Mark
1    Smith
Name: Username, dtype: object