In [1]:
import pandas as pd

In [2]:
list = [1,2,3,4]
res = pd.Series(list)
print(res)

0    1
1    2
2    3
3    4
dtype: int64

In [3]:
dic = {'Id':1001,'Name':"Ananya","Age":22}
res = pd.Series(dic)
print(res)

Id        1001
Name    Ananya
Age         22
dtype: object

In [6]:
s = pd.Series(["Ind","Aus","NZ","US"],index = ["a","b","c","d"])
print(s)

a    Ind
b    Aus
c     NZ
d     US
dtype: object

In [4]:
data = {
        'Name':["Tom","Nick","Krish","Jack"],
        'Age' : [21,22,24,21]
}
df = pd.DataFrame(data)
print(df)

    Name  Age
0    Tom   21
1   Nick   22
2  Krish   24
3   Jack   21

In [7]:
data = {
        'Name':["Tom","Nick","Krish","Jack"],
        'Age' : [21,22,24,21]
}
df = pd.DataFrame(data,index = ['a','b','c','d'])
print(df)

    Name  Age
a    Tom   21
b   Nick   22
c  Krish   24
d   Jack   21

In [10]:
myDictionary = {"Name": "Daniel",
                "Age":31
               }
pd.DataFrame(myDictionary,index=["a"])

     Name  Age
a  Daniel   31

In [11]:
myDictionary = {"Name" : ["Daniel"],
                "Age" : [31]
               }
pd.DataFrame(myDictionary)

     Name  Age
0  Daniel   31

In [12]:
df1 = pd.DataFrame()
print(df1)

Empty DataFrame
Columns: []
Index: []

In [13]:
df1['ID']=[1,2,3]
df1['Emp']=["A","B","C"]
df1["Salary"]=[1000,2000,3000]
df1

   ID Emp  Salary
0   1   A    1000
1   2   B    2000
2   3   C    3000